# application.yml
server:
  port: 8080
  servlet:
    context-path: /api

spring:
  profiles:
    active: dev
  jpa:
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

# JWT 설정
jwt:
  secret: 6442645369566B5970337336763979244226452948404D6351655468576D5A7134743777217A25432A462D4A614E645266556A586E3272357538782F413F4428
  access-token-validity: 3600000  # 1시간
  refresh-token-validity: 604800000  # 7일

# OpenAPI / Swagger
springdoc:
  use-fqn: true
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    default-models-expand-depth: 2
    default-model-expand-depth: 3
    display-request-duration: true
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
    enabled: true
  show-actuator: true
  packages-to-scan: com.studeal.team.domain
  paths-to-match:
    - /boards/**
    - /teachers/**
    - /auth/**
    - /students/**
    - /negotiations/**
#    - /lessons/**
    - /enrollments/**
    - /users/**

# 로깅 레벨
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.security: DEBUG
    p6spy: INFO